<template>
  <CustomForm :submit="onSubmit" :loading="loading || detailLoading">
    <ValidationProvider v-slot="{ errors, valid }" name="name" rules="required">
      <text-input
        v-model="form.name"
        :errors="errors"
        :valid="valid"
        label="Названия курса"
      />
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors, valid }"
      name="description"
      rules="required"
      label="Описания"
    >
      <text-input
        v-model="form.description"
        type="text-area"
        :valid="valid"
        :errors="errors"
      />
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors, valid }"
      name="price"
      rules="required"
    >
      <text-input
        v-model="form.price"
        type="number"
        :errors="errors"
        :valid="valid"
        label="Цена"
      />
    </ValidationProvider>
    <ValidationProvider
      v-slot="{ errors, valid }"
      name="startDate"
      rules="required"
    >
      <text-input
        v-model="form.startDate"
        type="date"
        :errors="errors"
        :valid="valid"
        label="Дата начала"
      />
    </ValidationProvider>
  </CustomForm>
</template>

<script>
import CustomForm from '@/components/core/CustomForm'
import TextInput from '@/components/core/TextInput'
export default {
  components: { TextInput, CustomForm },
  props: {
    value: {
      type: Object,
      required: false,
      default: () => {},
    },
    detailLoading: {
      type: Boolean,
      required: false,
    },
    submit: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      form: {},
      loading: false,
    }
  },
  mounted() {
    this.form = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
  },
  methods: {
    onSubmit() {
      const { form } = this
      this.loading = true
      return this.submit(form).finally(() => {
        this.loading = false
      })
    },
  },
}
</script>

<style scoped></style>
