.btn {
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666666;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:disabled {
    background: #ddd!important;
    border-color: #ddd!important;

  }

  &.btn-primary {
    background: #3954f6;
    color: #ffffff;
    border-color: #356ffc;

    &:hover {
      background: #0b36ff;
    }
  }
}
