<template>
  <course-form :key="detail && detail.id" :submit="submit" :value="detail" />
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CourseForm from '@/components/pages/courses/CourseForm'
export default {
  components: { CourseForm },
  computed: {
    ...mapState('courses', ['detail']),
  },
  created() {
    this.getCourseDetail()
  },
  methods: {
    ...mapActions('courses', ['updateCourseAction', 'getCourseDetailAction']),
    getCourseDetail() {
      const id = parseInt(this.$route.params.id)
      this.getCourseDetailAction(id)
    },
    submit(form) {
      return this.updateCourseAction(form).then(() => {
        this.$router.push({
          name: 'courses',
        })
      })
    },
  },
}
</script>

<style scoped></style>
