<template>
  <div>
    <button type="button" class="btn btn-primary" @click="$router.go(-1)">
      Назад
    </button>
    <p><strong>Название</strong>: {{ detail.name }}</p>
    <p><strong>Описание</strong>: {{ detail.description }}</p>
    <p><strong>Цена</strong>: {{ detail.price | money }}</p>
    <p><strong>Дата начала</strong>: {{ detail.startDate }}</p>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  computed: {
    ...mapState('courses', ['detail']),
  },
  created() {
    this.getCourseDetail()
  },
  methods: {
    ...mapActions('courses', ['getCourseDetailAction']),
    getCourseDetail() {
      const id = parseInt(this.$route.params.id)
      this.getCourseDetailAction(id)
    },
  },
}
</script>

<style scoped></style>
