<template>
  <course-form :submit="submit" />
</template>

<script>
import { mapActions } from 'vuex'
import CourseForm from '@/components/pages/courses/CourseForm'
export default {
  name: 'Create',
  components: { CourseForm },
  methods: {
    ...mapActions('courses', ['addCourseAction']),
    submit(form) {
      return this.addCourseAction(form).then(() => {
        this.$router.push({
          name: 'courses',
        })
      })
    },
  },
}
</script>

<style scoped></style>
