<template>
  <div>
    <button class="btn btn-primary" @click="addCourse">Добавить курс</button>
    <custom-table
      v-if="list"
      :headers="headers"
      :data="list.data"
      :count="list.count"
      :sort-items="sortItems"
      @sort="onSort"
    >
      <template v-slot:item.name="{ item }">
        <nuxt-link :to="{ name: 'courses-course-id', params: { id: item.id } }">
          {{ item.name }}
        </nuxt-link>
      </template>
      <template v-slot:item.description="{ item }">
        <span> {{ item.description | slice(150) }} </span>
      </template>
      <template v-slot:item.price="{ item }">
        <span> {{ item.price | money }} </span>
      </template>
      <template v-slot:item.actions="{ item }">
        <nuxt-link
          :to="{
            name: 'courses-course-id-edit',
            params: { id: item.id },
          }"
        >
          &#128393;
        </nuxt-link>
        <button type="button" @click="removeItem(item.id)">&#128465;</button>
      </template>
    </custom-table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import CustomTable from '@/components/core/CustomTable'

export default {
  components: { CustomTable },
  data() {
    return {
      page: 1,
      sortItems: {},
      headers: [
        {
          name: 'id',
          text: '№',
        },
        {
          name: 'name',
          text: 'Название',
        },
        {
          name: 'description',
          text: 'Описание',
        },
        {
          name: 'price',
          text: 'Цена',
          sortable: true,
        },
        {
          name: 'startDate',
          text: 'Дата начала',
          sortable: true,
        },
        {
          name: 'actions',
          text: 'Действия',
        },
      ],
    }
  },
  computed: {
    ...mapState('courses', ['list']),
  },
  watch: {
    '$route.query'() {
      this.getCourseList()
    },
  },
  created() {
    this.getCourseList()
    this.setInitialProps()
  },
  methods: {
    ...mapActions('courses', ['getCourseListActions', 'deleteCourseAction']),
    getCourseList() {
      const query = this.$route.query
      this.loading = true
      this.getCourseListActions(query).finally(() => {
        this.loading = false
      })
    },
    addCourse() {
      this.$router.push({
        name: 'courses-course-create',
      })
    },
    removeItem(id) {
      if (confirm('Вы действительно хотите удалить этот запись?')) {
        this.deleteCourseAction(id).then(() => {
          this.getCourseList()
        })
      }
    },
    onSort(items) {
      const page = this.$route.query.page
      const pageSize = +this.$route.query.pageSize
      this.$router.push({
        query: {
          page: page || undefined,
          pageSize: pageSize || undefined,
          ...items,
        },
      })
    },
    setInitialProps() {
      const { startDate, price } = this.$route.query
      this.sortItems = {
        startDate,
        price,
      }
    },
  },
}
</script>
