<template>
  <ValidationObserver
    ref="obs"
    v-slot="{ invalid, validated, passes }"
    tag="div"
    class="custom-form"
  >
    <linear-progress v-if="loading" class="custom-form__loading" />
    <form @submit.prevent>
      <slot v-bind="{ invalid, validated, passes }" />
      <div class="custom-form__actions">
        <slot name="actions">
          <button class="btn btn-primary" :disabled="invalid" @click="submit">
            Сохранить
          </button>
          <button class="btn btn-primary" @click="exit">Выйти</button>
        </slot>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import LinearProgress from '@/components/core/LinearProgress'

export default {
  name: 'CustomForm',
  components: { LinearProgress },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    submit: {
      type: Function,
      required: true,
    },
  },
  methods: {
    exit() {
      this.$router.go(-1)
    },
  },
}
</script>

<style lang="scss" scoped>
.custom-form {
  &__loading {
  }
}
</style>
