<template>
  <div class="seller-table">
    <div class="table">
      <div class="table-wrapper">
        <div class="table__table">
          <table>
            <thead>
              <tr>
                <th v-for="(item, idx) in headers" :key="idx">
                  <div
                    :class="[
                      'table__th',
                      { 'has-sort': item.sortable },
                      item.sortable && {
                        asc: sortHeaders[item.name] === item.name,
                        desc: sortHeaders[item.name] === '-' + item.name,
                      },
                    ]"
                    @click="sort(item)"
                  >
                    <slot :name="`header.${item.name}`" v-bind="{ item }">
                      {{ item.text }}
                    </slot>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(tr, trIdx) in data" :key="trIdx">
                <slot name="item" v-bind="{ item: tr }">
                  <td v-for="(td, tdIdx) in tr" :key="tdIdx">
                    <slot :name="`item.${tdIdx}`" v-bind="{ item: tr }">
                      {{ td }}
                    </slot>
                  </td>
                  <td v-for="(td, tdIdx) in headerDataDifference" :key="tdIdx">
                    <slot :name="`item.${td}`" v-bind="{ item: tr }"></slot>
                  </td>
                </slot>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <pagination
      ref="paginator"
      v-model="page"
      :count="count"
      :initial-page-size="pageSize"
      @page-size-change="onChangePageSize"
      @input="onChangePage"
    />
  </div>
</template>

<script>
import Pagination from '@/components/core/Pagination'
export default {
  name: 'CustomTable',
  components: { Pagination },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    headers: {
      type: Array,
      default: () => [],
    },
    sortItems: {
      type: Object,
      default: () => {},
    },
    count: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      page: 1,
      pageSize: 5,
      sortHeaders: {},
    }
  },
  computed: {
    headerDataDifference() {
      const headerKeys = this.headers.map((item) => item.name)
      const dataKeys = Object.keys(this.data[0])
      return headerKeys.filter((item) => !dataKeys.includes(item))
    },
  },
  created() {
    this.setInitialProps()
  },
  methods: {
    setInitialProps() {
      const { page, pageSize } = this.$route.query
      this.sortHeaders = { ...this.sortItems }
      if (page) {
        this.page = +page
      }
      if (pageSize) {
        this.pageSize = +pageSize
      }
    },
    onChangePageSize(pageSize) {
      const oldQuery = this.$route.query
      this.$router.push({
        query: {
          ...oldQuery,
          page: 1,
          pageSize,
        },
      })
    },
    onChangePage(page) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page,
        },
      })
    },
    sort({ name, sortable }) {
      if (!sortable) return
      const sortItem = this.sortHeaders[name]
      if (!sortItem) {
        this.$set(this.sortHeaders, name, name)
      } else if (name === sortItem) {
        this.$set(this.sortHeaders, name, '-' + name)
      } else if (sortItem === '-' + name) {
        this.$delete(this.sortHeaders, name)
      }
      this.$emit('sort', this.sortHeaders)
    },
  },
}
</script>

<style lang="scss" scoped>
.table {
  position: relative;
  margin-bottom: 50px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      background-color: white;
      border: 1px solid #ebebeb;
      transition: 300ms;
    }

    th {
      height: 58px;
      padding: 0 10px;
      user-select: none;
      & .has-sort {
        &:after {
          display: inline-block;
          font-weight: 900;
          text-rendering: auto;
          line-height: 1;
          cursor: pointer;
          font-size: 14px;
          margin-left: 10px;
        }
        &.asc::after {
          content: '\2191';
        }
        &.desc::after {
          content: '\2193';
        }
      }
    }

    td {
      height: 88px;
      padding: 10px;
      color: #666;

      a {
        color: #0066c0;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    td,
    th {
      position: relative;
      vertical-align: middle;

      &:first-child {
        padding-left: 50px;
      }
    }

    tbody {
      &:before {
        content: '@';
        display: block;
        line-height: 3px;
        font-size: 0;
      }

      tr:hover {
        background: #f7f7f7;
      }
    }
  }

  &__th {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    > span {
      font-weight: 600;
      text-transform: uppercase;
      color: #222222;
    }
  }
}
</style>
