<template>
  <div class="pagination">
    <ul v-if="pages.length" class="pagination__list">
      <li :class="['pagination__prev', { disabled: value === 1 }]">
        <button type="button" :disabled="value === 1" @click="previousPage">
          <img src="~/assets/images/pagination-arrow.png" alt />
        </button>
      </li>
      <li
        v-for="page in pages"
        :key="page"
        :class="[{ active: value === page }]"
      >
        <button type="button" @click="$emit('input', page)">{{ page }}</button>
      </li>
      <li :class="['pagination__next', { disabled: value === pageCount }]">
        <button type="button" :disabled="value === pageCount" @click="nextPage">
          <img src="~/assets/images/pagination-arrow.png" alt />
        </button>
      </li>
    </ul>
    <div class="pagination__info">
      <div class="pagination__text">
        На странице:<br />
        Элементы {{ elementsInterval.from }}-{{ elementsInterval.to }}
        из
        {{ count }}
      </div>
      <label class="field field--with-select">
        <select v-model="pageSize" @change="onPageSizeChange">
          <option :value="5">5</option>
          <option :value="10">10</option>
          <option :value="20">20</option>
        </select>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    value: {
      type: Number,
      default: 1,
    },
    count: {
      type: Number,
      default: 0,
    },
    initialPageSize: {
      type: Number,
      default: 0,
    },
    visibleCount: {
      type: Number,
      default: 5,
    },
  },
  data() {
    return {
      pageSize: 5,
    }
  },
  computed: {
    elementsInterval() {
      const { value, pageSize, count } = this
      const from = (value - 1) * pageSize + 1
      const to = value * pageSize > count ? count : value * pageSize
      return {
        from,
        to,
      }
    },
    pageCount() {
      const { count, pageSize } = this
      return Math.ceil(count / pageSize)
    },
    blocks() {
      const { visibleCount, pageCount } = this
      return Math.ceil(pageCount / visibleCount)
    },
    pages() {
      const { value, visibleCount, pageCount, blocks } = this
      const pages = []
      for (let i = 1; i <= blocks; i++) {
        const start = visibleCount * (i - 1) + 1
        const end = i * visibleCount > pageCount ? pageCount : i * visibleCount
        if (start <= value && value <= end) {
          for (let page = start; page <= end; page++) {
            pages.push(page)
          }
          break
        }
      }
      return pages
    },
  },
  created() {
    this.setInitialProps()
  },
  methods: {
    setInitialProps() {
      this.pageSize = this.initialPageSize
    },
    previousPage() {
      const value = this.value
      if (value > 1) {
        this.$emit('input', value - 1)
      }
    },
    nextPage() {
      const value = this.value
      const count = this.count
      const pageSize = this.pageSize
      const pageCount = Math.ceil(count / pageSize)
      if (value < pageCount) {
        this.$emit('input', value + 1)
      }
    },
    onPageSizeChange(e) {
      this.$emit('page-size-change', e.target.value)
    },
  },
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: center;
  position: relative;

  &__info {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    color: #666;
    margin-right: 18px;
  }

  .field {
    width: 76px;

    select {
      padding-right: 10px;
      background-position: 90% 50%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    list-style: none;
  }

  &__prev,
  &__next {
    transition: 300ms;

    &.disabled {
      opacity: 0.6;
    }
  }

  &__prev {
    transform: rotate(180deg);
    margin-right: 15px;
  }

  &__next {
    margin-left: 15px;
  }
  li.active button {
    background: #3954f6;
    color: #ffffff;
    border-radius: 50%;
  }

  button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 1300px) {
    flex-direction: column;
    align-items: center;

    &__info {
      position: static;
      margin-top: 30px;
    }

    &__list {
      margin-right: 0;
    }

    &__text {
      text-align: right;
    }
  }

  @media only screen and (max-width: 767px) {
    &__list {
      button {
        width: 30px;
        height: 30px;
      }
    }
  }
}
</style>
