<template>
  <div class="text-input">
    <label class="label" :for="_uid">{{ label }}</label>
    <div :class="['input', { error: !valid, valid: valid }]">
      <textarea
        v-if="type === 'text-area'"
        :id="_uid"
        :value="value"
        v-bind="$attrs"
        v-on="{
          ...$listeners,
          input: ($event) => $emit('input', $event.target.value),
        }"
      />
      <input
        v-else
        :id="_uid"
        :type="type"
        :value="value"
        v-bind="$attrs"
        v-on="{
          ...$listeners,
          input: ($event) => $emit('input', $event.target.value),
        }"
      />
    </div>
    <div class="error-messages">
      <div v-if="typeof errors === 'string'">{{ errors }}</div>
      <div v-for="(error, index) in errors" v-else :key="index">
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    type: {
      type: String,
      validator: (value) =>
        ['text', 'number', 'password', 'date', 'email', 'text-area'].includes(
          value
        ),
      default: 'text',
    },
    errors: {
      type: [Array, String],
      default: null,
    },
    value: {
      type: [Number, String],
      default: null,
    },
    valid: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss" scoped>
.text-input {
  margin-bottom: 15px;
  label {
    margin-bottom: 5px;
    display: block;
  }
  .input {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .valid {
    border-color: #00be17;
  }
  .error {
    border-color: #ff0006;
  }
  .error-messages {
    margin-top: 5px;
  }
  input,
  textarea {
    padding: 7px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
  }
}
</style>
